.global-header {
  .header-proposition {
    clear: left;
    float: none;
    padding-top: 15px;

    @include media('>=desktop') {
      @include span(66.66% no-gutters);
      clear: none;
      padding-top: 0;
    }
  }

  .header-menu-toggle {
    font-size: em(16);
    line-height: 1;
    color: $white;
    display: block;
    float: right;
    text-decoration: none;
    padding-top: 6px;
    margin-top: 52px;

    @include media('>=desktop') {
      display: none;
      margin-top: 50px;
    }

    &:hover {
      text-decoration: underline;
    }
    &:after {
      display: inline-block;
      font-size: 8px;
      height: 8px;
      padding-left: 5px;
      vertical-align: middle;
      content: " \25BC";
    }
    &.js-hidden:after {
      content: " \25B2";
    }
  }
}
