.unit {
  margin-bottom: 5px;

  @include media('>tablet') {
    margin-bottom: 15px;
  }

  &.unit-third {
    @include media('>tablet') {
      @include span(33.33%);
    }
  }

}

.unit-heading {
  font-size: em(19);
  font-weight: 400;
  margin: 0;
}

.unit-value {
  font-size: em(48);
  font-weight: 700;
}
