.u-keyline-heading {
  font-size: em(36);
  font-weight: 400;
  border-bottom: 5px solid $black;
  padding-top: 8px;
  padding-bottom: 7px;
  margin-top: 30px;
  margin-bottom: 20px;

  @include media('>tablet') {
    padding-top: 6px;
    padding-bottom: 9px;
    margin-top: 60px;
  }
}

.u-see-all {
  font-size: em(16);
  font-weight: 700;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
