#proposition-links {
  @include clearfix;
  margin: 0;
  padding: 0;

  @include media('>=desktop') {
    padding-top: 5px;
  }

  .js-enabled & {
    display: none;

    @include media('>=desktop') {
      display: block;
    }

    &.js-visible {
      display: block;
    }
  }

  li {
    float: left;
    width: 50%;
    padding: 3px 0;
    margin: 0;
    list-style: none;
    font-size: em(14);
    font-weight: 700;
    line-height: 2;
    border-bottom: 1px solid $grey-1;

    @include media('>tablet') {
      font-size: em(14);
    }

    @include media('>=desktop') {
      display: block;
      width: auto;
      font-size: em(16);
      font-weight: 700;
      line-height: 23px;
      padding: 0 15px 0 0;
      border-bottom: 0;

      &.clear-child {
        clear: left;
      }
    }
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      color: $proposition-active-nav;
    }

    &:focus {
      color: $black;
    }
  }
}
